{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Dance Schools</title>
       <!-- <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all"> -->
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                           <!-- <a href="/">
                                <img src="{% static 'photos/logo.jpg' %}" alt="Dance">
                            </a> -->
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Dance schools" rel="home">Dance schools</a>
                            </h1>
                            <p>Dance creates a state of general well body and mind at the same time.</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>
                            Dancing means connection with yourself, the freedom of spirit, new friends and a lot of experiences and feelings that you expect to discover. Dance develops your social
                            skills and encourages fun. In addition, dance gives you the chance to meet people from different cultures, that can help in personal development and interpersonal
                            relationships.
                        </p>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Because you want to try something new for you!
                </div>
            </footer>
        </div>
    </body>
</html>