.header {
    background-color: #f4425c;
    height: 15%;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    color: white;
}

.header .header-logo-image {
    height: 60%;
    position:relative;
    width: 20%;
    left:30%;
    top:20%;
}

.header .header-logo-image #logo {
    height: 100%;
    width: 25%;
}

.header .header-title {
    height: 60%;
    position:relative;
    width: 50%;
    left:38%;
    bottom: 50%;
    color: white;
}

#site-title {
    color: #93041a;
}

.header p {
    bottom: 0px;
}

.main-wrapper {
    position:relative;
    top: 17%;
    left: 10%;
    right: 10%;
    width: 80%;
    overflow: hidden;
}

.main-wrapper .main-presentation {
    border-bottom: 1px solid #aaa;
    text-align: justify;
}

.main-wrapper .content {
    overflow-y: scroll;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f4425c;
    color: white;
    text-align: center;
}